logs
target
/
.idea
/
.idea_modules
/
.classpath
/
.project
/
.settings
/RUNNING_PID
 
sparkModels/ 
tmp/
yajsw
/Workbench4LSDD-Service.iml
myresources/models/
public/results/processedResults/1507882616674/_temporary/
public/results/processedResults/1507882905503/_temporary/
public/results/processedResults/1507885846082/_temporary/
public/results/processedResults/1507928735440/_temporary/
