logs
target
/
.idea
/
.idea_modules
/
.classpath
/
.project
/
.settings
/RUNNING_PID
 
sparkModels/ 
tmp/
yajsw
/Workbench4LSDD-Service.iml
myresources/models/
myresources/results/
public/results/
out/production/Workbench4LSDD-Service/
myresources/models
myresources/results
myresources/datasets
spark-warehouse
