<div class="jumbotron">
    <h1>The document clustering application.</h1>
    <div>
        Step 1: Click on Create Pipeline <br/>
        Step 1.1: Create new pipeline for your clustering<br/>
        Step 1.2: click on the pipeline created<br/>
        Step 1.3: Link SocioCortext Workspace<br/>
        Step 1.4: Select a WorkSpace<br/>
        Step 1.5: Select the Attributes to Retrive from the workspace<br/>
        Step 1.6: Select the Clustering Technique to Apply<br/>
        Step 1.7: Select pre-processing and post-processing steps to Apply<br/>
        Step 1.8: Enter No of Clusters to Create<br/>
        Step 1.9: Click on Save<br/>
        <hr />
        Step 2: Click on Cluster Documents <br/>
        Step 2.1: Select your pipeline<br/>
        Step 2.1: Click on Cluster<br/>
        Step 2.2: View the results <br/>
    </div>
</div>