<div>
    <h3>Workbench for Learning Similar Design Decisions</h3>
    <div>
        <img class="responsive-img" src="assets/images/process-diagram.png">
    </div>
</div>

<!--
TODO: Create Pipeline
1. Select Library to Create Pipeline with
   Note: Only Spark for Now
2. Select: Cluster Algorithm
    Note: KMeans only for now
3. Enable/Disable Preprocessing Steps
4. Enter Pipeline Name
5. Save Pipeline


TODO: Run Pipeline
1. Select an existing pipeline
2. Redirect to Cluster Visualization Graph

TODO: Classify New Design Decision
1. Select an existing pipeline
2. Enter Details
3. Click on Label
4. Retrieve all Documents with same Cluster Label
5. Display Results

TODO: Cluster Visualization
1. Select an existing pipeline

<ul class="collection">
            <li class="collection-item">Step 1: Click on Create Pipeline</li>

            <li class="collection-item">Step 1.1: Create new pipeline for your clustering</li>

            <li class="collection-item">Step 1.2: click on the pipeline created</li>

            <li class="collection-item">Step 1.3: Link SocioCortext Workspace</li>

            <li class="collection-item">Step 1.4: Select a WorkSpace</li>

            <li class="collection-item">Step 1.5: Select the Attributes to Retrive from the workspace</li>

            <li class="collection-item">Step 1.6: Select the Clustering Technique to Apply</li>

            <li class="collection-item">Step 1.7: Select pre-processing and post-processing steps to Apply</li>

            <li class="collection-item">Step 1.8: Enter No of Clusters to Create</li>

            <li class="collection-item">Step 1.9: Click on Save</li>

            <li class="collection-item">Step 2: Click on Cluster Documents</li>

            <li class="collection-item">Step 2.1: Select your pipeline</li>

            <li class="collection-item">Step 2.1: Click on Cluster</li>

            <li class="collection-item">Step 2.2: View the results</li>

        </ul>


-->
