.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.chalk{
    background-color: #648BA9;
}
.progress{
    margin: 0;
    height: 5px;
    visibility: hidden;
}
.progress .indeterminate{
    background-color: #c0392b;
}