<div class="container">
    <div class="row">
        <div id="pipeline-table" class="section" ng-if="vm2.pipelines.length > 0">
            <h1>Select a pipeline</h1>
            <table class="table striped bordered">
                <thead>
                <tr>
                    <th>Pipeline name</th>
                    <th>Algorithm</th>
                    <th>Options</th>
                    <th>Tranformer</th>
                    <th>Dataset</th>
                    <th>SC Type</th>
                    <th>Mined Attributes</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="pipeline in vm2.pipelines | orderBy:sortType:sortReverse ">
                    <td><a href="/clustering/clusters/{{pipeline.name}}"
                           ng-click="vm2.onVisualize()">{{pipeline.name}}</a></td>
                    <td>{{pipeline.algorithm.name}}</td>
                    <td><span
                            ng-repeat="option in pipeline.algorithm.options"><b>{{option.name}}</b>:{{option.value}}<br></span>
                    </td>
                    <td>{{pipeline.transformer}}</td>
                    <td>{{pipeline.dataset}}</td>
                    <td>{{pipeline.type.name}}</td>
                    <td><span ng-repeat="attribute in pipeline.miningAttributes"><b>{{attribute}}</b><br></span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="empty-table" ng-if="vm2.pipelines.length <= 0" class="valign-wrapper layout-padding">
            <div class="container center-align">
                <div class="row">
                    <div class="col s12">
                        <i class="material-icons" style="color:teal;font-size:10rem;display:block;">mood_bad</i>
                    </div>
                    <div class="col s12">
                        <h4>Ooops! Looks like you did not create any pipelines</h4>
                    </div>
                    <div class="col s12"><p></p></div>
                    <div class="col s12">
                        <a class="btn btn-primary" href="/cluster/pipelines">
                            Create One
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>